// ---------------------------------------------
// Parameters
// ---------------------------------------------

params {
// Input
samplesheet = 'samplesheet.csv'
fastq_dir = '/home/lab-user/Scrivania/psoriasi/fastq_pass'
env_dir = "${projectDir}/envs"

// Reference and threads
reference_genome = '/home/lab-user/reference/Homo_sapiens.GRCh38.dna.primary_assembly.fa'
annotation_file = '/home/lab-user/reference/gtf_human/BULK_HUMAN_G38.gtf'
default_threads = 30

// Fastcat
fastcat_min_qscore = 10
fastcat_min_length = 200

// NanoPlot

// Pychopper

// Minimap2

// Bambu
bambu_discovery = false
bambu_quant = true
bambu_low_memory = false
bambu_threads = 30

// Output directory
outdir = 'results'
}

// ---------------------------------------------
// Executor
// ---------------------------------------------

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/trace.txt"}
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/timeline.html"}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/report.html"}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.html"}

// ---------------------------------------------
// Executor
// ---------------------------------------------

process {executor = 'local' 
    cpus = 30}

conda {
    enabled = true
}

// to do --> docker exectuor set up
